body {
	margin: 0;
	padding: 0;
}

a {
	color: black;
}

span {
	margin-right: 5px;	
}

h1 {
	margin-bottom: -10px;
	font-size: 35pt;
}

h2 {
	display: inline-flex;
	margin-top: 80px;
    margin-left: 40px;
}

h3 {
	text-align: center;
	font-size: 18pt;
}

h5 {
	text-align: center;
	font-style: italic;
}

button {
	width: 180px;
	height: 40px;
	display: block;
}


li {
	display: inline;
	margin-top: 25px;
	margin-left: 100px;
	float: left;
	list-style: none;
}

#iphone {
	float: right;
	width: 400px;
	margin-top: -230px;
}

#sub {
	margin-left: 0;
}

.main-container {
	float: left;
	width: 100%;
	
}


.inner-container {
	margin: 50px auto;
	width: 80%;
}

.main-container .inner-container div {
	margin-top: 50px;
	width: 150px;
	height: 50px;
	background-color: gray;
}

#asSeenOn {
	float: left;
	width: 100%;
	background-color: gray;
	border-top:1px solid black;

}

#asSeenOn .inner-container {
	margin: 0 auto;
}

#asSeenOn .inner-container p {
	float: left;
	margin-top: 25px;
	display: inline;
}

.main-container {
	float: left;
	width: 100%;
	border-top: 1px solid black;
	
}


.main-container .inner-container .image-container {
	float: left;
	background-color: gray;
	width: 40%;
	height: 300px;
	margin-top: 0;
}

.main-container .inner-container .image-container-right {
	float: right;
	background-color: gray;
	width: 40%;
	height: 300px;
	margin-top: 0;
}

.main-container .inner-container p {
	display: inline-flex;
	margin-left: 40px;
	width: 50%;
}

#text-left {
	margin-left: 0;
}

#text-left-paragraph {
	margin-left: 0;
	width: 50%;
}

#what-people-say {
	float: left;
	width: 100%;
	border-top: 1px solid black;
}

#what-people-say .inner-container div {
	float: left;
	width: 30%;
	border:1px solid black;
	margin-left: 20px;
	margin-bottom: 20px;
}


#what-people-say .inner-container div p {
	width: 91%;
	margin: 15px;
}

.fa-user:before {
    content: "\f007";
    font-size: 50pt;
}

.icon {
	text-align: center;
	width: 100%;
	margin-top: 20px;

}

.center-item {
	text-align: center;
	width: 100%;
	font-size: 25pt;
}

.paragraph-size {
	width: 100%;
	font-size: 13pt;
	text-align: center;
}

#align-center {
	text-align: center;
	margin-left: 0;
	width: 100%;
	display: block;
}

.button-width {
	width: 100px
}

.center {
	margin: 0 auto;
}

#site-footer {
	float: left;
	width: 100%;
	background-color: black;
}

#site-footer p {
	text-align: center;
	margin-left: 0;
	width: 100%;
	display: block;
	color: white;
}

@media (max-width: 980px) { 

	.inner-container {

	}

	h2 {
		margin-left: 0;
	}


	.main-container .inner-container .image-container {
		width: 60%;
		min-width: 300px;
		max-width: 400px;
		float: none;
		margin: 0 auto;
	}

	.main-container .inner-container .image-container-right {
		width: 60%;
		min-width: 300px;
		max-width: 400px;
		margin: 0 auto;
		float: none;
	}

	.main-container .inner-container p {
		width: 100%;
		margin-left: 0;
	}

	#text-left-paragraph {
		width: 100%;
	}

	#text-left {
		width: 100%;
	}

	#what-people-say .inner-container div {
		width: 100%;
		margin-left: 0;
	}

	#what-people-say .inner-container div p {
		text-align: center;
		margin: 0 auto;
	}
}


