.main-container .inner-container .logo {
	width: 100px;
	height: 50px;
	background-color: gray;
}

.feature {
	float: left;
	width: 33.3%;
}

.main-container .inner-container .feature .fa-bolt {
	font-size: 100px;
	text-align: center;
	width: 100%;
}

.main-container .inner-container .feature h4 {
	text-align: center;
	font-family: sans-serif;
}

.main-container .inner-container .feature p {
	text-align: center;
	font-family: sans-serif;
	margin: 30px auto;
	width: 90%;
	text-align: left;
}


.right-text {
	font-family: sans-serif;
	text-align: left;
    float: right;
    width: 95%;
}

img {
	width: 100%;
	height: auto;
}

li {
	
    display: inline;
    list-style: none;
    text-decoration: none;
    margin: 4.5%;
}

a {
	color: black;
	text-decoration: none;
}

.person-image {
	float: left;
	width: 40%;
	display: inline;
}

.text-holder {
	float: left;
	width: 60%;
}

.bg-color {
	background-color: gray;
}

.center {
	width: 180px;
	height: 50px;
	display: block;
}

.pricing-plan {
	text-align: center;
	font-style: normal;
	font-family: sans-serif;
	font-size: 15pt;
}

.price {
	margin: 0;
	text-align: center;
	font-family: sans-serif;
	font-size: 30pt;
}

.feature-text {
	margin: 0;
	text-align: center;
	font-family: sans-serif;
	font-size: 13pt;
	margin-top: 20px;
}

.signup-button {
	margin: 170px auto 0 auto;
	display: block;
	width: 180px;
	height: 50px;
}



.left-middle-right {
	margin: 0 auto;
}

#left {
    float: left;
    width: 30%;
    border: 2px solid black;
    border-right: none;
}

#middle {
	float: left;
    width: 38%;
    border: 2px solid green;
    margin-top: -25px;
    height: 525px;
}

#right {
    float: left;
    width: 30%;
    border: 2px solid black;
    border-left: none;
}

h2 {
	width: 100%;
	text-align: center;
	display: block;
	margin-bottom: 40px;
}

.center-item {
	text-align: center;
	width: 100%;
	font-size: 25pt;
}

.paragraph-size {
	width: 100%;
	font-size: 13pt;
	text-align: center;
}

#align-center {
	text-align: center;
	margin-left: 0;
	width: 100%;
	display: block;
}

.button-width {
	width: 100px
}

.center {
	margin: 0 auto;
	margin: 10px auto 20px auto;
}

#site-footer p {
	text-align: center;
	margin-left: 0;
	width: 100%;
	display: block;
	color: white;
}

@media (max-width: 980px) { 
	nav {
		width: 100%;
	}

	ul {
		display: inline;
		padding: 0;
	}

	li {
	}

	.feature {
		width: 100%;
		text-align: center;
	}

	.main-container .inner-container .feature p {
		margin: 20px auto 50px auto;
	}

	.person-image {
		width: 100%;
	}

	.text-holder {
		width: 100%;
	}
	.right-text {
		width: 100%;
		text-align: center;
	}

	#left {
		width: 100%;
		border: 1px solid black; 
		margin-top: 10px;
	}

	#middle {
		width: 100%;
		border: 1px solid black;
		margin-top: 10px;
	}

	#right {
		width: 100%;
		border: 1px solid black;
		margin-top: 10px;
	}

	.pricing-plan {

	}

	.signup-button {
	    margin: 170px auto 10px auto;
	}
}





























